{
  "root": true,
  "plugins": ["prettier"],
  "extends": ["react-app", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["**/tsconfig.json"]
  },
  "ignorePatterns": ["config-overrides.js"],
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "react/jsx-key": 2,
    "arrow-body-style": 1,
    "import/no-duplicates": 1,
    "react/self-closing-comp": 1,
    "@typescript-eslint/no-shadow": 0,
    "import/no-useless-path-segments": 1,
    "import/no-extraneous-dependencies": 0,
    "@typescript-eslint/naming-convention": 0,
    "object-curly-spacing": [1, "always"],
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/lines-between-class-members": 0,
    "prefer-destructuring": [
      1,
      {
        "object": true,
        "array": false
      }
    ]
  }
}
